$font-family-sans-serif: Arial, sans-serif, "Helvetica Neue", Helvetica, !default;
$font-family-serif: Georgia, "Times New Roman", Times, serif !default;
$icon-font-path: "../fonts/" !default;
$brand-primary: #990000 !default;
$title-color: #fff !default;
$text-color: #333 !default;
$link-hover-bg: $brand-primary;

$block-default-bg: #383d40;

// Navbar links
$screen-sm: 769px !default;

@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
html, body {
  overflow-x: hidden;
}

body {
  overflow-y: hidden;
  font-size: 14px;
}

a {

  &:hover {
    text-decoration: underline;
  }
  &.learn-more {
    color: #666;
    &:hover {
      color: $brand-primary;
    }
  }
}

.container, .container-fluid {
  text-align: center;
  padding-bottom: 0px;
  .title {
    clear: both;
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: left;
    color: white;
    border-bottom: 1px solid $block-default-bg;
    span {
      display: inline-block;
      margin: 0 auto;
      height: 50px;
      line-height: 50px;
      padding: 0 20px;
      width: auto;
      background: $block-default-bg;
    }
  }
  .content {
    overflow: hidden;
    text-align: left;
    margin-bottom: 20px;
  }
}

.container {
  padding: 0;
  @media(min-width: $screen-lg-min) {
    width: 970px;
  }
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.site-footer {
  text-align: center;
  height: 160px;
  padding-left: 0;
  padding-right: 0;
  background: rgba(208, 212, 221, 0.8);
  p {
    background: #383d40;
    color: #bfc3c4;
    line-height: 60px;
  }
}

#top-link-block {
  a {
    background: rgba(200, 200, 200, .8);
    border: none;
    display: block;
  }
  &.affix-top {
    position: absolute; /* allows it to "slide" up into view */
    bottom: -82px;
    right: 10px;
  }
  &.affix {
    position: fixed; /* keeps it on the bottom once in view */
    bottom: 18px;
    right: 10px;
  }
}

div.header {
  padding-left: 0;
  padding-right: 0;
  background: #fff;
  background-image: -webkit-linear-gradient(to bottom, #d3dfeb, #e2e9ef);
  background-image: linear-gradient(to bottom, #d3dfeb, #e2e9ef);
  div.top-logo {
    height: 170px;
    text-align: left;
    img {
      float: left;
      margin-top: 60px;
      height: 100px;
      vertical-align: bottom;
      display: block;
    }
  }
  .navbar.navbar-default {
    height: auto;
    min-height: 30px;
    margin-bottom: 0;
    border: none;
    border-radius: 0;
    background: $block-default-bg;
    color: white;
    .container {
      padding-top: 0;
      .navbar-collapse {
        padding-left: 0;
        padding-right: 0;
        div.menu > ul, ul.menu {
          font-size: 1.2rem;
          margin-left: 0;
          margin-right: 0;
          padding-left: 0;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          list-style: none;
          margin-bottom: 0;
          @media (max-width: $screen-sm) {
            flex-direction: column;
            li {
              width: 100%;
            }
          }
          li {
            a {
              color: #fff;
              text-decoration: none;
            }
          }
          > li {
            @media (min-width: $screen-md-min) {
              border-right: #999 1px solid;
              &:first-child {
                border-left: #999 1px solid;
              }
            }
            &:first-child {
              padding-left: 0;
            }
            > a {
              display: inline-block;
              font-size: 15px;
              padding: 8px 20px;
            }
            &.current-menu-item, &.current_page_item, &.current-menu-parent, &.current_page_parent, &:hover {
              > a {
                background: $link-hover-bg;
                color: $title-color;
              }
            }
            ul.sub-menu, ul.children {
              position: absolute;
              display: none;
              z-index: 10;
              background: rgba(30, 45, 85, .6);
              list-style: none;
              min-width: 160px;
              padding: 5px 0;
              border: 1px solid rgba(0, 0, 0, 0.15);
              box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
              border-bottom-left-radius: 4px;
              border-bottom-right-radius: 4px;
              li {
                text-align: left;
                a {
                  display: block;
                  padding: 3px 20px;
                  clear: both;
                  font-weight: normal;
                  line-height: 1.42857;
                  color: $title-color;
                  font-size: 14px;
                }
                &:hover, &.current-menu-item, &.current_page_item {
                  a {
                    background: $link-hover-bg;
                    color: $title-color;
                  }
                }
              }
            }
            &.menu-item-has-children {
              > a:after {
                font-family: "Glyphicons Halflings";
                content: "\e252";
                margin-left: 3px;
                font-size: 11px;
              }
            }
          }

        }
      }
    }
  }

  &.navbar-scroll-down {
    height: 0;
    padding: 0;
    overflow: hidden;
  }
  &.in {
    height: auto;
  }
}

.top-slider {
  .swiper-container {
    width: 100%;
    .swiper-wrapper {
      padding-left: 0;
      list-style: none;
      .swiper-slide {
        position: relative;
        text-align: center;
        > img {
          width: 100%;
          height: 260px;

        }
        .caption {
          color: $brand-primary;
          position: absolute;
          top: 30px;
          left: 50px;
          text-align: left;
        }
      }
    }
    .swiper-button-prev, .swiper-button-next {
      transition: all .3s linear;
      opacity: .6;
      height: 50px;
      width: 25px;
      &:hover {
        opacity: 1;
      }
    }
    .swiper-button-prev {
      background: url("../images/common/slider/left.png");
      left: -50px;

    }
    .swiper-button-next {
      background: url("../images/common/slider/right.png");
      right: -50px;
    }
    &:hover {
      .swiper-button-prev, .swiper-button-next {
        opacity: 1;
      }
      .swiper-button-prev {
        left: 10px;
      }

      .swiper-button-next {
        right: 10px;
      }
    }
  }
}

.breadcrumbs {
  border-radius: 0;
  text-align: left;
  display: flex;
  align-items: flex-end;
  padding: 8px 0;
  font-family: "AxiaLight Regular";
  p.container {
    padding-bottom: 0;
    text-align: left;
    a {
      color: $text-color;
      &:hover {
        color: $text-color;
        text-decoration: none;
      }
    }
  }
}

.content-area {
  .entry-title:first-child {
    margin-top: 0;
  }
}

footer {
  .site-info {
    p {
      margin-bottom: 0;
    }
    text-align: center;
    img.logo-bottom {
      height: 35px;
      display: inline-block;
      margin: 15px auto;
    }
    .contact-bottom {
      background: #414042;
      padding: 30px 0;
      font-size: 1.5rem;
      font-family: $font-family-sans-serif;
      color: #878788;
      .row {
        padding: 20px 0;
        margin-bottom: 20px;
        border-bottom: 1px solid #878788;
        .col {
          display: flex;
          text-align: left;
          align-items: center;
          margin-bottom: 0;
          img {
            width: 25px;
            margin-right: 8px;
          }
        }
      }
      @media (min-width: $screen-sm) {
        .row {
          display: flex;
          align-items: center;
          justify-content: center;
          .col {
            width: auto;
          }
        }
      }
    }
  }
}

header.entry-header {
  display: none;
}

div.title {
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: bold;
  text-align: left;
  color: white;
  border-bottom: 1px solid rgba(30, 45, 85, 0.6);
  > span {
    display: inline-block;
    margin: 0 auto;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    min-width: 180px;
    width: auto;
    background: rgba(30, 45, 85, 0.6);
  }
}

p.sub-title {
  margin-bottom: 10px;
}

.sub-title {
  color: #ae1f23;
}

.swiper-button {
  display: none;
}

.row {
  @media (min-width: $screen-md) {

  }
  img {
    width: 100%;
  }
  h4, h5 {
    text-align: center;
  }
}

.entry-content {
  .container {
    img {
      width: 100%;
    }
  }
}

ul.child-pages {
  float: left;
  position: absolute;
  width: 180px;
  left: 0;
  top: 85px;
  list-style: none;
  text-align: left;
  padding-left: 0px;
  background: rgba(30, 45, 85, 0.6);
  height: 100%;
  li {
    a {
      display: block;
      width: 100%;
      padding: 0px 0 0 20px;
      font-size: 14px;
      line-height: 2;
      color: #fff;
    }
    &.current_page_item {
      color: $brand-primary;
    }
  }
  & + div {
    text-align: left;
    margin-left: 200px;
  }
}

body[id^='index'], body[id^='overview'], body[id^='contact-form'] {
  .container {
    @media (min-width: $screen-sm-min) {
      .col-sm-8 {
        padding-left: 0;
      }
      .col-sm-4 {
        padding-right: 0;
      }
    }
    img {
      margin-bottom: 3px;
    }
  }
}

body[id^='shareholder'] {
  .container, .container-fluid {
    .content {
      h4 {
        clear: both;
        margin-top: 20px;
      }
      img.company-logo {
        float: right;
        margin-bottom: 10px;
        width: 350px;
      }
    }
  }
}

body[id^='fast-facts'] {
  .container, .container-fluid {
    .content {
      > ul {
        padding-left: 15px;
        list-style: none;
        li {
          span {
            display: inline-block;
            margin: 5px;
            background: rgba(208, 212, 221, 0.8);
            &:first-child {
              width: 200px;
            }
            &:last-child {
              width: 600px;
            }
            padding: 5px 10px;
          }
        }
      }
    }
  }
}

body[id^='timeline'] {
  .container, .container-fluid {
    .title {
      z-index: 2;
      position: relative;
    }
    .content {
      z-index: 1;
      position: relative;
      > ul {
        padding-left: 15px;
        list-style: none;
        li {
          padding: 0px 0 5px;
          cursor: pointer;
          &:hover {
            span:first-child {

            }
            span:nth-child(3) {
              background: $brand-primary;
              color: #fff;
            }
          }
          &:first-child {
            margin-top: 0;
            span {
              padding-top: 0;
            }
          }
          &:last-child {
            margin-bottom: 0;
            span {
              padding-bottom: 0;
            }
          }
          img {
            height: 0;
            visibility: hidden;
            display: none;
            width: auto;
            margin-left: 30px;
            margin-top: 0px;
          }
          span {
            display: inline-block;
            line-height: 30px;
            &:first-child {
              width: 20px;
              line-height: 20px;
              border-radius: 20px;
              background: $block-default-bg;
            }
            &:nth-child(2) {
              margin-left: 3px;
              line-height: 20px;
              &:before {
                content: '-- ';
              }
            }
            &:nth-child(3) {
              margin: 0 5px;
              padding-left: 10px;
              margin-left: 30px;
              width: 95%;
              display: block;
              background: rgba(208, 212, 221, 0.6);
            }
          }
        }
      }
      span.timeline {
        position: absolute;
        height: 100%;
        left: 24px;
        top: 0;
        background: $block-default-bg;
        width: 2px;
      }
      span.timeline-spot {
        position: absolute;
        display: block;
        padding: 1px 0px;
        left: 15px;
        top: -50px;
        @include transition(all 300ms);
        width: 20px;
        border-radius: 20px;
        background: $brand-primary;
      }
    }
  }
}

body[id^='locations'] {
  .first-container {
    .content {
      img.map {
        display: block;
        margin: 0 auto 10px;
        display: block;
        width: 65%;
        float: left;
        @media(max-width: $screen-xs-max) {
          width: 98%;
          margin-right: 1%;
          margin-left: 1%;
        }
      }

      div.address {
        @media(max-width: $screen-xs-max) {
          width: 98%;
          margin-right: 1%;
          margin-left: 1%;
          &:nth-child(odd) {
            margin-right: 0;
          }
        }
        float: left;
        width: 33%;
        padding: 10px;
        margin: 0 1% 5px;
        color: #999;
        border: 1px solid #ccc;
        box-shadow: 5px 5px 15px;
        h3 {
          margin-top: 0px;
          font-size: 15px;
          color: $brand-primary;
        }
        ul {
          color: #666;
          font-size: 12px;
          list-style: none;
          padding-left: 0;
          li {
            margin: 15px 0;
            overflow: hidden;
          }
        }
      }
    }
  }
}

body[id^='contact-form'] {
  .content {
    form {
      label {
        > span:first-child {
          width: 120px;
          display: inline-block;
          i.required {
            color: $brand-primary;
          }
        }
      }
      input, textarea {
        width: 480px;
      }
      input[type='submit'] {
        width: 80px;
      }
      textarea {
        height: 150px;
        vertical-align: top;
      }
    }
  }
}